.surface {

    display: flex;
    background-color: #F8F9FB;
    width: 750px;
    height: 175px;
    position: relative;
   
  }

.squareOne {

  display: flex;
  background-color: rgb(238, 18, 18);
  width: 200px;
  height: 150px;
  margin: auto;
  border-radius: 10px;
  justify-content: center;
}

.squareTwo {

  display: flex;
  background-color: rgb(238, 18, 18);
  width: 200px;
  height: 150px;
  margin: auto;
  border-radius: 10px;
  justify-content: center;
}

.squareThree {

  display: flex;
  background-color: rgb(238, 18, 18);
  width: 200px;
  height: 150px;
  margin: auto;
  border-radius: 10px;
  justify-content: center;
}

.bi-slack {

  font-size: 40px;
  padding-top: 10px;
  position: relative;
  top: 0px;
  right: 40px;
  display: flex;
  

}

.titlePosition {

  position: relative; 
  top: 5px;
  right: 20px;

  
}

.textPosition {

  
}