.surface {

    display: flex;
    background-color: #F8F9FB;
    width: 750px;
    height: 175px;
    position: relative;
   
  }

.squareOne {

  display: flex;
  background-color: rgb(238, 18, 18);
  width: 200px;
  height: 150px;
  margin: auto;
  border-radius: 10px;
  justify-content: center;
}

.squareTwo {

  display: flex;
  background-color: rgb(238, 18, 18);
  width: 200px;
  height: 150px;
  margin: auto;
  border-radius: 10px;
  justify-content: center;
}

.squareThree {

  display: flex;
  background-color: rgb(238, 18, 18);
  width: 200px;
  height: 150px;
  margin: auto;
  border-radius: 10px;
  justify-content: center;
}

.bi-slack {

  font-size: 40px;
  padding-top: 10px;
  position: relative;
  top: 0px;
  right: 40px;
  display: flex;
  

}

.titlePositionSlack {

  position: relative; 
  top: 5px;
  right: 20px;
  display: flex;

  
}

.textPositionSlack {

position: absolute;
top: 75px;
text-align: center;
color: grey;
display: flex;

}

.textPositionTrello {

  text-align: center;
  color: grey;

  }

.circleBlue {

  background-color: #0079BF;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: relative;
  top: 10px;
  right: 60px;
  display: flex;
}

.bi-trello {

  color: white;
  font-size: 25px;
  position: absolute;
  top: 11px;
  right: 13px;
  
}

.titlePositionTrello {

  position: absolute;
  left: 70px;
  bottom: 5px;
  display: flex;


}

.titlePositionWapp {

}